.whole-board{
  
}

.basic-information {
  display: flex;
  justify-content: center;
}
.basic-information-items{
  display: flex;
  margin-right: 30px; 
  
}
.basic-information-items:last-child {
  margin-right: 0;
}

.line-div{
  display: flex;
  justify-content: center;
}
.line-option{
  display: flex;
  justify-content: flex-end;
}

.bar-doughnut-div {
    display: flex; /* Flexbox 레이아웃을 활성화 */
    justify-content: center;
  }
.department-based{
  margin-right: 50px;
}